:root {
    --primary-color: rgb(62, 100, 255);
    --complete-color: #27aa80;
    --text-color: #172b4d;
    --disabled-color: #fad6d6;
    --background-color: #f5eaea;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: "Roboto", sans-serif;
}
